<body>
    <div class="header">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <h4 class="header-title">ALPHA BANK</h4>
                <p class="font">HSR layout,2nd Street ,Bangalore,5762001</p>
                <p class="font">Contact Number : 9876543210,9123456780  </p>
                <p class="font">Email ID : alpha123@gmail.com</p>
                
            </div>
            <div class="col-md-4">
                <P class="header-title">Branch Details </P>
                <p class="font">Main Branch: HSR layout,Bangalore,5762001</p>
                <p class="font">sub-Branch : Nagasandra,Bangalore,576221</p>
            </div>
            <div class="col-md-1"></div>

        </div>
    </div>
<h2 class="form-title" >Loan Application Form</h2>


<div class="grid-container" >
    <div><div   class="main-container">
        <p class="title1">Username </p>
        <div class="sub-container"><p class="content1"></p></div>
    </div>
    <div class="main-container" >
        <p class="title">Account Number</p>
        <div class="sub-container"><p class="content"></p></div>
    </div>
  
    <div class="main-container" >
        <p class="title" >Email</p>
        <div class="sub-container"><p class="content"></p></div>
    </div>
    <div class="main-container" >
        <p class="title">Contact Number</p>
        <div class="sub-container"><p class="content"></p></div>
    </div>
    
    <div class="main-container" >
        <p class="title" >Aadhar Number</p>
        <div class="sub-container"><p class="content"> </p></div>
    </div>
    <div class="main-container" >
        <p class="title">PAN Number</p>
        <div class="sub-container"><p class="content"></p></div>
    </div>
    <div class="main-container" >
        <p class="title" >Date of Birth</p>
        <div class="sub-container"><p class="content"></p></div>
    </div>
    <div class="main-container" >
        <p class="title">Gender</p>
        <div class="sub-container"><p class="content"> </p></div>
    </div>
    <div class="main-container" >
        <p class="title" >Address</p>
        <div class="sub-container"><p class="content"></p></div>
    </div>
    
</div>
    <div>
        <div class="main-container" >
            <p class="title1" >Loan ID </p>
            <div class="sub-container"><p class="content1"></p></div>
        </div>
        <div class="main-container" >
            <p class="title">Employee Type</p>
            <div class="sub-container"><p class="content"></p></div>
        </div>
        <div class="main-container" >
            <p class="title">Work Experience</p>
            <div class="sub-container"><p class="content"></p></div>
        </div>
        <div class="main-container" >
            <p class="title">Monthly Income</p>
            <div class="sub-container"><p class="content"></p></div>
        </div>
        <div class="main-container" >
            <p class="title">Annual Income</p>
            <div class="sub-container"><p class="content"></p></div>
        </div>
        <div class="main-container" >
            <p class="title" >Occupation Name</p>
            <div class="sub-container"><p class="content"> </p></div>
        </div>
        <div class="main-container" >
            <p class="title">Occupation Address</p>
            <div class="sub-container"><p class="content"> </p></div>
        </div>
        <div class="main-container" >
            <p class="title" >Organization Name</p>
            <div class="sub-container"><p class="content"> </p></div>
        </div>
        <div class="main-container" >
            <p class="title" >Organization Address</p>
            <div class="sub-container"><p class="content"></p></div>
        </div>
    </div>
   
</div>

<div class="grid-container" >
    <div><div   class="main-container">
        <p class="title1">Loan Type </p>
        <div class="sub-container"><p class="content1"></p></div>
    </div>
  
    <div class="main-container">
        <p class="title" >Loan Amount</p>
        <div class="sub-container"><p class="content"></p></div>
    </div>
    <div class="main-container" >
        <p class="title" >Interest</p>
        <div class="sub-container"><p class="content"></p></div>
    </div>
    <div class="main-container" >
        <p class="title">Tenure(in years)</p>
        <div class="sub-container"><p class="content"></p></div>
    </div>
    <div class="main-container" >
        <p class="title">Loan EMI</p>
        <div class="sub-container"><p class="content"></p></div>
    </div>
    <div class="main-container" >
        <p class="title">Total Loan Amount</p>
        <div class="sub-container"><p class="content"></p></div>
    </div>
   
    
</div>
<!-----Home Loan -------->
<!-- <div *ngIf="loantype==='home'" >-->
    <div >
        <div class="main-container" >
            <p class="title1" >Loan Purpose </p>
            <div class="sub-container"><p class="content1"></p></div>
        </div>
        <div class="main-container" >
            <p class="title">Property Value</p>
            <div class="sub-container"><p class="content"></p></div>
        </div>
        <div class="main-container" >
            <p class="title">Property Area</p>
            <div class="sub-container"><p class="content"></p></div>
        </div>
        <div class="main-container" >
            <p class="title" >Property Address</p>
            <div  class="sub-container"><p class="content"></p></div>
        </div>
        <div class="main-container" >
            <p class="title">Loan Start Date</p>
            <div class="sub-container"><p class="content"></p></div>
        </div>
        <div class="main-container" >
            <p class="title">Loan End Date</p>
            <div class="sub-container"><p class="content"></p></div>
        </div>
      </div>
      <!-------Vehicle Loan------>
      <!-- <div *ngIf="loantype==='vehicle'"> -->
        <div>
        <div class="main-container" >
            <p class="title1" >Loan Purpose </p>
            <div class="sub-container"><p class="content1"></p></div>
        </div>
        <div class="main-container" >
            <p class="title">RC Number</p>
            <div class="sub-container"><p class="content"></p></div>
        </div>
        <div class="main-container" >
            <p class="title">Vehicle Price</p>
            <div class="sub-container"><p class="content"></p></div>
        </div>
        <div class="main-container" >
            <p class="title" >Vendor Address</p>
            <div  class="sub-container"><p class="content"></p></div>
        </div>
        <div class="main-container" >
            <p class="title">Loan Start Date</p>
            <div class="sub-container"><p class="content"></p></div>
        </div>
        <div class="main-container" >
            <p class="title">Loan End Date</p>
            <div class="sub-container"><p class="content"></p></div>
        </div>
      </div>
      <!-------Personal Loan------>
      <!-- <div *ngIf="loantype==='personal'"> -->
        <div>
        <div class="main-container" >
            <p class="title1" >Loan Purpose </p>
            <div class="sub-container"><p class="content1"></p></div>
        </div>
        <div class="main-container" >
            <p class="title">Ongoing Loan(Yes/No)</p>
            <div class="sub-container"><p class="content"></p></div>
        </div>
        <div class="main-container" >
            <p class="title">Loan Start Date</p>
            <div class="sub-container"><p class="content"></p></div>
        </div>
        <div class="main-container" >
            <p class="title">Loan End Date</p>
            <div class="sub-container"><p class="content"></p></div>
        </div>
      </div>
      <!-----Education Loan------->
      <!-- <div *ngIf="loantype==='education'"> -->
        <div>
        <div class="main-container" >
            <p class="title1" >Education Type </p>
            <div class="sub-container"><p class="content1"></p></div>
        </div>
        <div class="main-container" >
            <p class="title">Course Name</p>
            <div class="sub-container"><p class="content"></p></div>
        </div>
        <div class="main-container" >
            <p class="title">Institute Name</p>
            <div class="sub-container"><p class="content"></p></div>
        </div>
        <div class="main-container" >
            <p class="title" >Total Fee</p>
            <div  class="sub-container"><p class="content"></p></div>
        </div>
        <div class="main-container" >
            <p class="title">Loan Start Date</p>
            <div class="sub-container"><p class="content"></p></div>
        </div>
        <div class="main-container" >
            <p class="title">Loan End Date</p>
            <div class="sub-container"><p class="content"></p></div>
        </div>
      </div>
   
</div>       
<div  class="privacy"><p>Privacy Policy:The Bank recognizes the expectations of its customers with regard to privacy, confidentiality and security of their personal information that resides with the Bank. Keeping personal information of customers secure and using it solely for activities related to the Bank and preventing any misuse thereof is a top priority of the Bank. The Bank has adopted the privacy policy aimed at protecting the personal information entrusted and disclosed by the customers. </p> <P style="margin-left: 10px;font-size: larger;text-align: center;">©ALPHA_TEAM_2023 </P></div>   

</body>