<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#"><span class="text-primary">ALPHA</span>BANK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" >
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        
  <li class="nav-item">
    <a class="nav-link" href="#portfolio">Services</a>
  </li> -->

  
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">{{fullName}}</a>
          </li> -->
          <!-- <ng-container *ngIf="role==='user'">
          <li class="nav-item">
            <a class="nav-link">{{cust_name}}</a>
          </li>
        </ng-container> -->
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="loaneligible">Check</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="applyLoan">Apply Loan</a>
          </li> -->
          <!-- <ng-container *ngIf="role==='admin'">
            <li class="nav-item">
                <a class="nav-link" href="#">Loan Requests</a>
              </li>
          </ng-container>
          <li class="nav-item">
            <div class="user-profile" (click)="toggleSubMenu()">
              <div class="profile-symbol">{{initials}}</div>
              <div class="profile-name"><a href="">{{username}}</a></div>
              <div class="sub-menu-wrap"[class.open-menu]="isSubMenuOpen">
                <div class="sub-menu">
                  <div class="user-info">
                    <h5>Welcome back {{cust_name}}</h5>
                  </div> -->
                  
        
                   <!-- <a href="#" class="sub-menu-link">
                    <img src="https://cdn-icons-png.flaticon.com/128/9795/9795178.png" style="width: 30px;height: 30px;">
                    <p>Edit Profile</p>
                    <span></span>
                   </a> -->
        
                   <!-- <a  class="sub-menu-link"> -->
                    <!-- <img src="https://cdn-icons-png.flaticon.com/128/10565/10565616.png" style="width: 30px;height: 30px;"> -->
                    <!-- <p>Cust ID:{{fullName}}</p> -->
                    
                   <!-- </a>
        
                   <a  class="sub-menu-link"> -->
                    <!-- <img src="https://cdn-icons-png.flaticon.com/128/6712/6712837.png" style="width: 30px;height: 30px;"> -->
                    <!-- <p>Account Number:</p>
                    <span></span>
                   </a>
        
                   <a href="#" class="sub-menu-link"> -->
                    <!-- <img src="https://cdn-icons-png.flaticon.com/128/10627/10627076.png" style="width: 30px;height: 30px;"> -->
                    <!-- <p class="text-danger">Logout</p>
                    <span></span>
                   </a>
        
                </div>
              </div>
      
            </div>
          </li> -->

          <!-- <li class="nav-item">
            <button (click)="signOut()" class="btn btn-danger">Logout</button>
          </li> -->
        <!-- </ul>
      </div>
    </div>
  </nav> -->

  
  <!-- <app-userhome></app-userhome> -->
  

<!-- <ul *ngFor="let user of users">
    <li>{{user.userName}}</li>
</ul> -->

