<body>
<div class="container">
    <h3>Account  Details</h3>
    <div class="user-details">
      <div>
        <label>Name:</label>
        <!-- <span>Morton</span> -->
      </div>
      
      <div>
        <label>Account Number:1234567890</label>
        <!-- <span>1234567890</span> -->
      </div>
      <div>
        <label>Gender:Male</label>
        <!-- <span>Male</span> -->
      </div>
      <div>
        <label>Address:123 Main St, City</label>
        <!-- <span>123 Main St, City</span> -->
      </div>
      
      <div>
        <label>Mobile Number:9876543210</label>
        <!-- <span>9876543210</span> -->
      </div>
      <div>
        <label>Email ID: morton@gmail.com</label>
        <!-- <span>morton@gmail.com</span> -->
      </div>
      <div>
        <label>Employee Type:Salaried</label>
        <!-- <span>Salaried</span> -->
      </div>
      <div>
        <label>Annual Income:600000</label>
        <!-- <span>600000</span> -->
      </div>
      <!-- <div>
        <label>Organization Name:</label>
        <span>Tietoevry</span> 
      </div> -->
      <!-- <div>
        <label>Organization Address:</label>
        <span>123 Main St, City</span>
      </div> -->
    </div>
    <h3>Loan  Details</h3>
    <div class="user-details">
      <div>
        <label>Loan Type:House Loan</label>
        <!-- <span>house Loan</span> -->
      </div>
      <div>
        <label>Loan Amount: 2000000</label>
        <!-- <span>2000000</span> -->
      </div>
      <div>
        <label>Interest:9.15%</label>
        <!-- <span>9.15 %</span> -->
      </div>
      <div>
        <label>Tenure (in months):120</label>
        <!-- <span>120</span> -->
      </div>
     
      <div>
        <label>Loan Purpose:New House</label>
        <!-- <span>New Home</span> -->
      </div>
      <div>
        <label>Property Area(sq.ft):1000 sq.ft</label>
        <!-- <span>123 Main St, City</span> -->
      </div>
      <!------------------------------>
  
      <!-- <div>
        <label>Monthly Income:</label>
        <span>123 Main St, City</span>
      </div> -->
      <!-- <div>
        <label>Annual Income:</label>
        <span>123 Main St, City</span>
      </div> -->
      <div>
        <label>Other EMI: 2000</label>
        <!-- <span>123 Main St, City</span> -->
      </div>
      <div>
        <label>Loan EMI: 25000</label>
        <!-- <span>123 Main St, City</span> -->
      </div>
    </div>
    <div class="button-container">
      <button class="approve">Approve</button>
      <button class="need-info">Need More Info</button>
      <button class="reject">Reject</button>
      
    </div>
  </div>
</body>