<app-navbar></app-navbar>
<div class="title">
    <h2>LOAN STATUS</h2>
</div>

<section class="step-wizard">
    

    <ul class="step-wizard-list">
        <li class="step-wizard-item">

            <span class="progress-count">1</span>
            <span class="progress-label">Applied</span>
            <img src="https://cdn-icons-png.flaticon.com/128/10485/10485138.png" alt="#" style="width: 50px;height: 50px;margin-left: 35px;margin-top: 20px;">
        </li>
        <li class="step-wizard-item current-item">
            <span class="progress-count">2</span>
            <span class="progress-label">Processing</span>
            <img src="https://cdn-icons-png.flaticon.com/128/10906/10906958.png"  alt="#" style="width: 50px;height: 50px;margin-left: 40px;margin-top: 20px;">
        </li>
        <li class="step-wizard-item">
            <span class="progress-count">3</span>
            <span class="progress-label">Result</span>
            <img src="https://cdn-icons-png.flaticon.com/128/3187/3187927.png"  alt="#" style="width: 60px;height: 50px;margin-left: 35px;margin-top: 20px;">
        </li>
        <!-- <li class="step-wizard-item">
            <span class="progress-count">4</span>
            <span class="progress-label">Success</span>
        </li> -->
    </ul>
</section>
